<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset='utf-8'>
        <link rel='stylesheet' href='static/css/style.css'>
        <script src='static/js/client.js'></script>
    </head>
    <body>
        <div>
            <div class='center'>
                <div class='title'>Model Serving</div>
                <div class='content'>
                    <div class='no-display'>
                        <input id='file-input'
                            class='no-display'
                            type='file'
                            name='file'
                            accept='image/*'
                            onchange='showPicked(this)'>
                    </div>
                    <button class='choose-file-button' type='button' onclick='showPicker()'>Select Image</button>
                    <div class='upload-label'>
                        <label id='upload-label'>No file chosen</label>
                    </div>
                    <div>
                        <img id='image-picked' class='no-display' alt='Chosen Image' height='200'>
                    </div>

                    <div>
                        <select name="style">
                            <option value="models/arch.pth">arch</option>
                            <option value="models/udnie.pth">udnie</option>
                            <option value="models/mosaic.pth">mosaic</option>
                            <option value="saved_models/rain_princess.pth">rain_princess</option>
                            <option value="saved_models/candy.pth">candy</option>
                        </select>
                    </div>

                    <div class='analyze'>
                        <input type="submit" value="Submit" name="submit" class="btn btn-primary" id='analyze-button' class='analyze-button'  type='button'>
                    </div>
                    <div class='result-label'>
                        <img src="{{ get_image }}" />
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
